<!Doctype HTML>
<html>

<head>
	<title>Postal Rate</title>
	<%include ../partials/head %>

	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	<script>
	$(document).ready(function() {
		$("#calculate").click(function() {
			var values = $("form").serialize();
			$.getJSON("/result_service", values)
			.done(function(data) {
			var result = document.getElementById('result');
				result.innerHTML = '$' + data.result;
			});
		});
	});
	</script>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
	<h1>Postal Rate Calculator</h1>
	<form action="/result" method="">
	<input type="text" name="weight" placeholder=" oz">
	<select name="mail_type">
	<option>Letters (Stamped)</option>
	<option>Letters (Metered)</option>
	<option>Large Envelopes (Flats)</option>
	<option>First-Class Package Service - Retail</option>
	</select>
	<input type="button" id="calculate" value="Ajax Calculate" />

	<input type="submit" value="Calculate">

	</form><br>
	<h4>
	Ajax Result is: <span id="result"></span>
	</h4>
</main>

</body>
</html>